.topology-context-sub-menu {
  position: relative;
  // padding-right: var(--pf-global--spacer--lg);
  padding-right: 1.5rem;

  &__arrow {
    position: absolute;
    // right: var(--pf-global--spacer--xs);
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
